:root{
    --avt-slot-h: 100px;
    --btn-w: 60px;
}
.container{
    padding: 0 5%;
}
.container_header{
    display: block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
}
.header-logo{
    width: 240px;
}
.container-body{
    color: white;
    padding: 5% 0;
}
.body_title{
    text-align: center;
    font-size: 30px;
}
.who_list{
    width: 40%;
    margin: 16px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.who_item{
    display: block;
    width: var(--avt-slot-h);
}
.who_item:hover{
   cursor: pointer;
}
.who_image{
    margin: 8px 0;
    display: block;
    height: var(--avt-slot-h);
    width: var(--avt-slot-h);
}
.who_name{
    text-align: center;
}
.who_item > button{
    display: block;
    margin: 0 auto;
    width: var(--btn-w);
    height: var(--btn-w);
    transform: translateY(50%);
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}
.who_item > button:hover{
    cursor: pointer;
}
.body_manager{
    margin: 16px auto;
    width: 20%;
    height: 45px;
    line-height: 45px;
    border: 1px solid white;
    text-align: center;
}
.body_manager:hover{
    cursor: pointer;
}
/* Mobile Tablet */
@media (max-width: 1023px) {
    :root{
        --avt-slot-h: 100px;
        --btn-w: 60px;
    }
    .container{
        padding: 0 1%;
    }
    .container_header{
        display: block;
        width: 100%;
        height: 70px;
        line-height: 70px;
        overflow: hidden;
    }
    .header-logo{
        width: 150px;
    }
    .container-body{
        color: white;
        padding: 0;
    }
    .body_title{
        text-align: center;
        font-size: 30px;
    }
    .who_list{
        width: 100%;
        margin: 16px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .who_image{
        margin: 8px 0;
        display: block;
        height: var(--avt-slot-h);
        width: var(--avt-slot-h);
    }
    .who_name{
        text-align: center;
    }
    .body_manager{
        margin: 16px auto;
        width: 80%;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 739px) {
    
}